<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349423978681-3mv3ihrm2mjgh5sdti60us3093h2ksjh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349423978681-3mv3ihrm2mjgh5sdti60us3093h2ksjh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>349423978681-n43e63b2n0mn6vmv4mo7469bvlg08f0j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkdLVx_W737dq6DcqKjsswIJ9LgBet5WQ</string>
	<key>GCM_SENDER_ID</key>
	<string>349423978681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dev.listorlife</string>
	<key>PROJECT_ID</key>
	<string>list-and-life</string>
	<key>STORAGE_BUCKET</key>
	<string>list-and-life.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349423978681:ios:fd5a2781c53e724ff33368</string>
</dict>
</plist>