<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.349423978681-js9aqmag1bjvutrll786mmdp9tegfn9f</string>
                    <string>fb2346950282326086</string>
				</array>
			</dict>
		</array>
		<key>FacebookAppID</key>
        <string>2346950282326086</string>
        <key>FacebookClientToken</key>
        <string>6e21770ecc2ad9a5d5ee82701956adb0</string>
        <key>FacebookDisplayName</key>
        <string>Daroory</string>
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>fbapi</string>
            <string>fb-messenger-share-api</string>
        </array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Daroory</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>Daroory</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>googlechrome</string>
			<string>googlechromes</string>
			<string>http</string>
			<string>https</string>
			<string>mailto</string>
			<string>tel</string>
			<string>whatsapp</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
		<key>NSCameraUsageDescription</key>
		<string>Describe why your app needs access to the camera.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>Your location is used to provide essential features, even when the app is not in use. This helps us offer location-based services like geofencing and location alerts.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>Your app's access to location data is being updated in the background. Please use NSLocationAlwaysAndWhenInUseUsageDescription instead.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>We use your location to provide relevant services and information while you use the app.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Describe why your app needs access to the microphone, if you intend to record videos.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Describe why your app needs permission for the photo library.</string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>processing</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>com.apple.security.network.client</key>
		<true/>
		<key>LSApplicationQueriesSchemes</key>
        <array>
            <string>comgooglemaps</string>
            <string>baidumap</string>
            <string>iosamap</string>
            <string>waze</string>
            <string>yandexmaps</string>
            <string>yandexnavi</string>
            <string>citymapper</string>
            <string>mapswithme</string>
            <string>osmandmaps</string>
            <string>dgis</string>
            <string>qqmap</string>
            <string>here-location</string>
            <string>tomtomgo</string>
            <string>copilot</string>
            <string>com.sygic.aura</string>
            <string>nmap</string>
            <string>kakaomap</string>
            <string>tmap</string>
            <string>szn-mapy</string>
            <string>mappls</string>
        </array>
	</dict>
</plist>
